[submodule "libuv"]
	path = dep-repo/libuv
	url = https://github.com/project-naive/libuv
[submodule "libvpx"]
	path = dep-repo/libvpx
	url = https://github.com/project-naive/libvpx
[submodule "mimalloc"]
	path = dep-repo/mimalloc
	url = https://github.com/project-naive/mimalloc
[submodule "msgpack-c"]
	path = dep-repo/msgpack-c
	url = https://github.com/project-naive/msgpack-c
[submodule "freetype2"]
	path = dep-repo/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "glew"]
	path = dep-repo/glew
	url = https://github.com/nigels-com/glew
[submodule "glfw"]
	path = dep-repo/glfw
	url = https://github.com/glfw/glfw
[submodule "concurrentqueue"]
	path = dep-repo/concurrentqueue
	url = https://github.com/project-naive/concurrentqueue
[submodule "gperftools"]
	path = dep-repo/gperftools
	url = https://github.com/project-naive/gperftools
[submodule "zlib"]
	path = dep-repo/zlib
	url = https://github.com/madler/zlib
[submodule "SPSCQueue"]
	path = dep-repo/SPSCQueue
	url = https://github.com/rigtorp/SPSCQueue
[submodule "MPSC_Queue"]
	path = dep-repo/MPSC_Queue
	url = https://github.com/MengRao/MPSC_Queue
[submodule "MPMCQueue"]
	path = dep-repo/MPMCQueue
	url = https://github.com/rigtorp/MPMCQueue
[submodule "spdlog"]
	path = dep-repo/spdlog
	url = https://github.com/gabime/spdlog
[submodule "opus"]
	path = dep-repo/opus
	url = https://github.com/xiph/opus
[submodule "flac"]
	path = dep-repo/flac
	url = https://github.com/xiph/flac
[submodule "openal-soft"]
	path = dep-repo/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "libsoundio"]
	path = dep-repo/libsoundio
	url = https://github.com/project-naive/libsoundio
[submodule "gli"]
	path = dep-repo/gli
	url = https://github.com/g-truc/gli
[submodule "imgui"]
	path = dep-repo/imgui
	url = https://github.com/ocornut/imgui
